.cardContainer {
  display: flex;
  justify-content: space-between; /* Align cards side by side */
  width: 100%; /* Ensure full width */
}

.card {
  background-color: rgb(161, 211, 242);
  padding: 20px;
  border-radius: 8px;
  margin: 10px; /* Add some spacing between cards */
  flex: 1; /* Allow card to grow and shrink */
  text-decoration: none;
  color: black;
}

.card:hover{
  cursor: pointer;
  background-color: rgb(188, 221, 241);
}
